@import "tailwindcss";

@theme inline {
  --color-orange: #FF8012;
  --color-blue: #38B6FF;
  --color-silver: #BFBFBF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
